<ion-tabs slot="bottom">
  <ion-tab-bar *ngIf="operationsService.hasElementsInEntries()" class="ion-no-border" color="transparent">
    <ion-tab-button (click)="downloadAll()">
      <ion-icon color="secondary" name="download"></ion-icon>
      <ion-label color="secondary">Download</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="addTags()" *ngIf="operationsService.getEntriesType() !== 'tags'">
      <ion-icon color="success" name="pricetags"></ion-icon>
      <ion-label color="success">Add Tags</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="delete()">
      <ion-icon color="danger" name="trash"></ion-icon>
      <ion-label color="danger">Delete</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="filterService.unselectAll()">
      <ion-icon color="primary" name="square-outline"></ion-icon>
      <ion-label color="primary">Uncheck</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="filterService.selectAll()">
      <ion-icon color="primary" name="checkbox-outline"></ion-icon>
      <ion-label color="primary">All</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
